@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.woff2") format("woff2"),
url("../fonts/flaticon.eot") format("embedded-opentype"),
url("../fonts/flaticon.svg") format("svg");
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-money:before {
    content: "\f101";
}
.flaticon-hammer:before {
    content: "\f102";
}
.flaticon-bar-graph:before {
    content: "\f103";
}
.flaticon-money-bag:before {
    content: "\f104";
}
.flaticon-money-bag-1:before {
    content: "\f105";
}
.flaticon-coins:before {
    content: "\f106";
}
.flaticon-bank:before {
    content: "\f107";
}
.flaticon-building:before {
    content: "\f108";
}
.flaticon-cargo-ship:before {
    content: "\f109";
}
.flaticon-ship:before {
    content: "\f10a";
}
.flaticon-lightbulb:before {
    content: "\f10b";
}
.flaticon-user:before {
    content: "\f10c";
}
.flaticon-building-1:before {
    content: "\f10d";
}
.flaticon-competition:before {
    content: "\f10e";
}
.flaticon-smartphone:before {
    content: "\f10f";
}
.flaticon-menu:before {
    content: "\f110";
}
.flaticon-calendar:before {
    content: "\f111";
}
.flaticon-next:before {
    content: "\f112";
}
.flaticon-left-arrow:before {
    content: "\f113";
}
.flaticon-pdf-file:before {
    content: "\f114";
}
.flaticon-file:before {
    content: "\f115";
}
.flaticon-download:before {
    content: "\f116";
}
.flaticon-letter:before {
    content: "\f117";
}
.flaticon-call:before {
    content: "\f118";
}
.flaticon-mail:before {
    content: "\f119";
}
.flaticon-envelope:before {
    content: "\f11a";
}
.flaticon-right:before {
    content: "\f11b";
}
.flaticon-link:before {
    content: "\f11c";
}
.flaticon-share-link:before {
    content: "\f11d";
}
.flaticon-pin:before {
    content: "\f11e";
}
.flaticon-checked:before {
    content: "\f11f";
}
.flaticon-search:before {
    content: "\f120";
}
.flaticon-user-1:before {
    content: "\f121";
}
.flaticon-balance:before {
    content: "\f122";
}
.flaticon-justice:before {
    content: "\f123";
}
.flaticon-laws:before {
    content: "\f124";
}
.flaticon-law:before {
    content: "\f125";
}
.flaticon-smartphone-1:before {
    content: "\f126";
}
.flaticon-cancel:before {
    content: "\f127";
}
.flaticon-cancel-1:before {
    content: "\f128";
}
