@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?65cf8f0bfd479be399a4b5d325bd2d1a") format("truetype"), url("./flaticon.woff?65cf8f0bfd479be399a4b5d325bd2d1a") format("woff"), url("./flaticon.woff2?65cf8f0bfd479be399a4b5d325bd2d1a") format("woff2"), url("./flaticon.eot?65cf8f0bfd479be399a4b5d325bd2d1a#iefix") format("embedded-opentype"), url("./flaticon.svg?65cf8f0bfd479be399a4b5d325bd2d1a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-money:before {
  content: "";
}

.flaticon-hammer:before {
  content: "";
}

.flaticon-bar-graph:before {
  content: "";
}

.flaticon-money-bag:before {
  content: "";
}

.flaticon-money-bag-1:before {
  content: "";
}

.flaticon-coins:before {
  content: "";
}

.flaticon-bank:before {
  content: "";
}

.flaticon-building:before {
  content: "";
}

.flaticon-cargo-ship:before {
  content: "";
}

.flaticon-ship:before {
  content: "";
}

.flaticon-lightbulb:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-building-1:before {
  content: "";
}

.flaticon-competition:before {
  content: "";
}

.flaticon-smartphone:before {
  content: "";
}

.flaticon-menu:before {
  content: "";
}

.flaticon-calendar:before {
  content: "";
}

.flaticon-next:before {
  content: "";
}

.flaticon-left-arrow:before {
  content: "";
}

.flaticon-pdf-file:before {
  content: "";
}

.flaticon-file:before {
  content: "";
}

.flaticon-download:before {
  content: "";
}

.flaticon-letter:before {
  content: "";
}

.flaticon-call:before {
  content: "";
}

.flaticon-mail:before {
  content: "";
}

.flaticon-envelope:before {
  content: "";
}

.flaticon-right:before {
  content: "";
}

.flaticon-link:before {
  content: "";
}

.flaticon-share-link:before {
  content: "";
}

.flaticon-pin:before {
  content: "";
}

.flaticon-checked:before {
  content: "";
}

.flaticon-search:before {
  content: "";
}

.flaticon-user-1:before {
  content: "";
}

.flaticon-balance:before {
  content: "";
}

.flaticon-justice:before {
  content: "";
}

.flaticon-laws:before {
  content: "";
}

.flaticon-law:before {
  content: "";
}

.flaticon-smartphone-1:before {
  content: "";
}

.flaticon-cancel:before {
  content: "";
}

.flaticon-cancel-1:before {
  content: "";
}

.flaticon-statistics:before {
  content: "";
}

.flaticon-energy-saving:before {
  content: "";
}

.flaticon-insurance:before {
  content: "";
}

.flaticon-worker:before {
  content: "";
}

.flaticon-briefcase:before {
  content: "";
}

.flaticon-briefcase-1:before {
  content: "";
}

.flaticon-target:before {
  content: "";
}

.flaticon-binoculars:before {
  content: "";
}

.flaticon-eye:before {
  content: "";
}

.flaticon-print:before {
  content: "";
}

.flaticon-download-1:before {
  content: "";
}

.flaticon-file-1:before {
  content: "";
}

.flaticon-landscape:before {
  content: "";
}

.flaticon-mountain:before {
  content: "";
}

.flaticon-land:before {
  content: "";
}
/*# sourceMappingURL=flaticon.css.map */